<!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                    <%= image_tag 'logo.png', :type => 'image/png' %>
            </a>
            </div>
            <div class="navbar-collapse collapse" id="menu">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <%=link_to "Home", root_path %>
              </li>
                    <li><%=link_to "Products", product_path %>
                        <ul>
                            <li><%=link_to "Predict Energy Usage", predict_energy_path %></li>
                            <li><%=link_to "Stock Price Changes", predict_finance_path %></li>
                          </ul>
                    </li>             
                     <li><%=link_to "Solutions", solutions_path %>
                        <ul>
                            <li><%=link_to "Energy", solutions_energy_path %></li>
                            <li><%=link_to "Finance", solutions_finance_path %></li>
                          </ul>
                    </li>
                    <li><%=link_to "About", about_path %></li>
                    <li><%=link_to "Contact", contact_path %></li>
                </ul>
            </div>

        </div>
    </div>